header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.nav__brand {
  position: absolute;
  top: 40px;
  left: 80px;
}
header ul {
  position: absolute;
  top: 40px;
  right: 80px;
}
header li {
  display: inline;
  padding: 20px;
}