<template>
  <header>
    <nav>
      <!-- "v-bind:" Needed for data binding with attributes - ":" is shorthand -->
      <nuxt-link :to="`${navBrand.link}`" class="nav__brand">
        <li>{{ navBrand.title }}</li>
      </nuxt-link>
      <ul>
        <nuxt-link v-for="navItem in navItems" :key="navItem.link" :to="navItem.link">
          <li>{{ navItem.title }}</li>
        </nuxt-link>
      </ul>
    </nav>
  </header>
</template>

<script>
  import axios from 'axios'; // promise-based HTTP client, works in browser and node.js environment
  import { routes } from '~/config.js';

  export default {
    data() {
      return {
        navBrand: {},
        navItems: []
      }
    },
    created() { // Vue lifecycle
      axios.get(routes.menus)
      .then(response => {
        const menuItems = response.data.items;

        menuItems.forEach(item => {
          let link = item.title.toLowerCase();

          if (link === 'home') {
            link = '/';
            this.navBrand = {
              link: link,
              title: item.title
            }
          } else {
            link = `/${link}`;
            this.navItems.push({
              link: link,
              title: item.title
            })
          }
        })
      })
    },
  }
</script>