<template>
  <section class="portfolio-container">
    <div class="portfolio">
      <div :style="`background: url( ${item.image} ) 50% 50% / cover no-repeat`" :title="item.altText" class="portfolio-image"></div>
      <div class="portfolio-content">
        <h2 class="porfolio-content-title">{{ item.title }}</h2>
        <h3 class="porfolio-content-stack">Stack</h3>
        <p>{{ item.stack }}</p>
        <p class="portfolio-content-description">
          <!-- description is wrapped in "p" tags from WP - output html with v-html -->
          <span v-html="item.description"></span>
        </p>
      </div>
    </div>
  </section>
</template>

<script>
  import axios from 'axios';
  import { routes } from '~/config.js';

  export default {
    data() {
      return {
        item: {}
      }
    },
    asyncData({ params }) {
      return axios.get(`${routes.workId}${params.slug}`)
      .then(response => {
        const data = response.data[0];
        return {
          item: {
            image: data.better_featured_image.source_url,
            altText: data.better_featured_image.alt_text,
            title: data.title.rendered,
            stack: data.acf.stack,
            description: data.content.rendered,
            acf: data.acf,
          }
        }
      })
    }
  }
</script>