<template>
  <section class="work-container">
    <h1 class="work-headline">{{ headline }}</h1>
    <div class="projects-list">
      <div v-for="post in posts" :key="post.slug"  class="porfolio-item">
        <h2 class="porfolio-item-title">{{ post.title }}</h2>
        <a :href="`/work/${post.slug}`" :data-slug="post.slug" :style="`background: url( ${post.image} ) 50% 50% / cover no-repeat`" :title="post.altText" class="portfolio-item-image"></a>
      </div>
    </div>
  </section>
</template>

<script>
  import axios from 'axios';
  import { routes } from '~/config.js';

  export default {
    data() {
      return {
        headline: '',
        posts: []
      }
    },
    async asyncData({ query, error }) {
      let [pageRes, postsRes] = await Promise.all([
        axios.get(routes.work),
        axios.get(routes.workPosts)
      ])

      let postsArr = [];

      postsRes.data.forEach(data => {
        postsArr.push({
          slug: data.slug,
          title: data.title.rendered,
          image: data.better_featured_image.source_url,
          altText: data.better_featured_image.alt_text
        })
      })

      return {
        headline: pageRes.data[0].acf.headline,
        posts: postsArr
      }
    },
    // methods: {
    //   route(e) { // example of programatic routing
    //     e.preventDefault();
    //     const slug = e.target.dataset.slug;
    //     this.$router.push(`work/${slug}`); // "_" dynamic routing
    //   }
    // }
  }
</script>