.form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errors {
  margin-bottom: 30px;
}

form {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

input {
  padding: 16px;
  margin-bottom: 20px;
}

textarea {
  padding: 16px;
  min-height: 140px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  resize: vertical;
}

input[type="submit"] {
  cursor: pointer;
  background: whitesmoke;
  text-transform: uppercase;
}