.work-container {
  width: 100%;
  margin-top: 200px;
  text-align: center;
}

.work-headline {
  margin-bottom: 50px;
}

.projects-list {
  width: 84%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.projects-list .porfolio-item {
  margin-bottom: 80px;
  width: 50%;
}

.porfolio-item-title {
  margin: 20px 0;
}

.portfolio-item-image {
  width: 80%;
  padding-bottom: 80%;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.porfolio-item-stack {
  margin-top: 20px;
}

.portfolio-container {
  width: 100%;
  margin-top: 218px;
}

.portfolio-container .portfolio {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.portfolio-container .portfolio-image {
  width: 40%;
  padding-bottom: 38%;
  margin: 0 auto;
}

.portfolio-content {
  width: 43%;
  padding-left: 3%;
}

.porfolio-content-title {
  margin: 20px 0;
}

.porfolio-content-stack {
  margin-top: 62%;
  margin-bottom: 8px;
}

.portfolio-content-description {
  margin-top: 60px;
}