<template>
  <div>
    <Menu/>
    <nuxt/>
  </div>
</template>

<script>
  import Menu from '~/components/Menu.vue' // alias "~" for root directory

  export default {
    components: {
      Menu
    }
  }
</script>