<template>
  <section v-if="gravityForm" class="form-container">
    <h1 class="form-title">{{ gravityForm.title }}</h1>
    <form @submit="handleSubmit" method="post" class="form">
      <template v-for="field in gravityForm.fields">
        <input v-if="isInput(field.type)" :key="field.id" :type="field.type" :placeholder="isRequired(field)" :required="field.isRequired" v-model="pageForm[`input_${field.id}`]">
        <textarea v-if="field.type === 'textarea'" :key="field.id" :type="field.type" :placeholder="isRequired(field)" :required="field.isRequired" v-model="pageForm[`input_${field.id}`]"></textarea>
      </template>
      <input v-if="gravityForm.button" type="submit" :value="gravityForm.button.text">
    </form>
    <div v-html="confirmation"></div>
  </section>
</template>

<script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        gravityForm: {},
        pageForm: {},
        confirmation: ''
      }
    },
    asyncData ({ env }) {
      return axios.get(process.env.baseUrl + '/api/getForm')
      .then(response => {
        return {
          gravityForm: response.data
        }
      })
    },
    methods: {
      isInput(type) {
        switch (type) {
          case 'text': return true; break;
          case 'email': return true; break;
          case 'website': return true; break;
          default: return false;
        }
      },
      isRequired(field) {
        return field.isRequired ? `${field.placeholder}*` : field.placeholder;
      },
      handleSubmit(e) {
        e.preventDefault();

        // Handle validation
        
        const form = { ...this.pageForm };
        
        axios.post(process.env.baseUrl + '/api/postForm', form) // send validated form
        .then(response => {
          this.confirmation = response.data.confirmation_message;

          const formTitle = document.querySelector('.form-title'),
            form = document.querySelector('.form');
            
          formTitle.style.display = 'none';
          form.style.display = 'none';
        })
      },
    }
  }
</script>