<template>
  <section class="container">
      <h1 class="title">{{ headline }}</h1>
  </section>
</template>

<script>
  import axios from 'axios'; // promise-based HTTP client, works in browser and node.js environment
  import { routes } from '~/config.js';

  export default {
    data() {
      return {
        headline: ''
      }
    },
    asyncData() { // fetch data and render it on the server-side
      return axios.get(routes.home)
      .then(response => {
        const data = response.data[0];
        return {
          headline: data.acf.headline,
          head: {
            title: data.yoast.title,
            metadesc: data.yoast.metadesc,
            ogtitle: data.yoast['opengraph-title'],
            ogdesc: data.yoast['opengraph-description'],
            ogimage: data.yoast['opengraph-image']
          }
        }
      })
    },
    head() {
      return {
        title: this.head.title,
        meta: [
          { hid: 'title', name: 'title', content: this.head.title },
          { hid: 'description', name: 'description', content: this.head.metadesc },
          { property: 'og:title', content: this.head.ogtitle },
          { property: 'og:description', content: this.head.ogdesc },
          { property: 'og:image', content: this.head.ogimage }
        ]
      }
    },
  }
</script>